.nav-bar {
    z-index: 1;
    text-align: center;
    display:inline-block;
    position: absolute;

    width: 100%;
    margin-top: 170px;
}

.nav-img {
    width: 400px;
}

@media only screen and (min-width: 1060px) and (max-width: 1200px) {
    .nav-img {
        width: 350px;
    }
}

@media only screen and (max-width: 1060px) {
    .nav-bar {
        margin-top: 15px;
        display: inline-grid;
    }
}

@media only screen and (max-width: 800px) {
    .nav-img {
        width: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .nav-bar {
        margin-top: 10vw;
    }

    .nav-img {
        width: 300px;
    }
}
