@font-face {
    font-family: RobotoCondensed;
    src: url("../resources/contact/RobotoCondensed-Regular.ttf");
}

.form-container {
    z-index: 3;
    overflow: auto;
    visibility: hidden;
    position: fixed;

    text-align: center;
    font-size: 80px;
    color: white;
    font-family: Helveticrap;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .7);
}

.exit-form {
    position: absolute;
    right: 25px;
    margin: 10px;
    margin-top: 3px;
    height: 50px;
}

.form {
    position: absolute;

    width: 70%;
    margin-top: 20px;
    margin-left: calc(15% + 15px);

    font-family: RobotoCondensed;
    text-align: left;
    color: #0e005c;
}

.title {
    text-align: center;

    font-size: 75px;
    margin-top: 20px;
}

#selected-tier {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-field {
    position: relative;

    width: 400px;
    margin: auto auto 50px auto;

    font-size: 50px;
}

.form-field > label {
    font-size: 30px;
    position: absolute;
}

input[type=text], input[type=email], textarea {
    margin-top: 40px;
    width: 100%;
    padding: 12px 24px 12px 10px;
    border: solid #0e005c 1px;
}

textarea {
    resize: none;
}

.submit-container {
    text-align: center;

    margin-top: -60px;
    margin-left: 275px;
}

#submit {
    width: 200px
}

.form-img {
    width: 700px;
}


@media only screen and (max-width: 920px) {
    .form {
        margin-top: 60px;
    } 

    .title {
        font-size: 60px;
    }

    .form-field {
        margin: auto auto 25px auto;
    }

    .form-field > label {
        font-size: 20px;
    }

    .submit-container {
        margin-top: -40px;
    }

    .form-img {
        width: 600px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .form-container {
        background: url("../resources/contact/notebook-bg.jpg");
    }

    .exit-form {
        content: url("../resources/contact/close1.webp");
        margin-left: -25px;
        right: auto;
    }

    .form-field {
        width: 70vw;
    }

    .form-img {
        display: none;
    }

    .submit-container {
        margin-left: 0;
    }
}