@font-face {
    font-family: Helveticrap;
    src: url("../resources/contact/Helveticrap.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

    height: 100%;
    width: 100%;

    user-select:none;

    background: url("../resources/contact/foreground-clean.webp");
    background-size: 1473px;
}

.background {
    position: relative;
    height: 50vh;
    width: 100%;

    background: url("../resources/contact/background.webp") no-repeat center;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.foreground {
    position: absolute;
    bottom: 0px;

    height: 55vh;
    max-height: 100%;
    width: 100%;

    background: url("../resources/contact/foreground.webp") no-repeat center;
    object-fit: cover;
    background-position: 10% 0, 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-container {
    text-align: center;
}

.tier-container {
    position: relative;
    display: inline-flex;
    text-align: center;
    width: 1410px;
    margin: 50px 0;
    gap: 70px;
}

.tier-img {
    width: 300px;
}

.mobile-tier-container {
    position: relative;
    display: none;

    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile-tier {
    margin: 15px 0;
}

.mobile-tier-img {
    width: 350px;
}

@media screen and (max-width: 1550px) and (min-width: 1400px) {
    .tier-container {
        gap: 35px;
        width: calc(1410px - 3*35px);
    }
}

@media screen and (max-width: 1400px) and (min-width: 1250px) {
    .tier-container {
        gap: 0px;
        width: calc(1410px - 6*35px);
    }
}

@media screen and (max-width: 1250px) and (min-width: 800px) {
    .background {
        height: calc(min(75vw, 350px) + 10vh);
    }

    .foreground {
        height: calc(95vh - min(75vw, 350px));
    }

    .tier-container {
        gap: 70px;
        width: 670px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
    .background {
        height: calc(min(75vw, 350px) + 10vh);
    }

    .foreground {
        height: calc(95vh - min(75vw, 350px));
    }

    .tier-container {
        display: none;
    }

    .mobile-tier-container {
        display: flex;
    }
}

@media screen and (max-width: 500px) and (min-width: 400px) {
    .background {
        height: calc(min(75vw, 350px) + 10vh);
    }

    .foreground {
        height: calc(95vh - min(75vw, 350px));
    }

    .tier-img {
        width: 150px;
    }

    .tier-container {
        display: none;
    }

    .mobile-tier-container {
        display: flex;
    }

    .mobile-tier {
        margin: 5px 0;
    }

    .mobile-tier-img {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .background {
        height: calc(min(75vw, 350px) + 10vh);
    }

    .foreground {
        height: calc(95vh - min(75vw, 350px));
    }

    .tier-container {
        display: none;
    }

    .mobile-tier-container {
        display: flex;
    }

    .mobile-tier {
        margin: 5px 0;
    }

    .mobile-tier-img {
        width: 250px;
    }
}